html
    head
        title This is my first Pug file
    body
        include header
        section
            p This is a post about Pug template engine, enjoy it!
        footer
            cool footer with lots of copyrights
